@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="magenta-heading">Early 2000's Euro Trance Rocks'</h1>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/OHZQqGdDIQE?si=IctYOiT5i35MJ0P-" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

</div>
